
.DivAcessar {
    display: flex;
    width: 80%;
    height: 5vh;
    color: black;
    font-size: 20px;
   border-style: solid;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 4%;
    border-color:  rgba(11, 11, 11, 0.53);

}